<%- include('header.ejs') %>

<div >
<form class="addBook-page" action="/addBook" method="post">
    <label for="title" >Enter Book Title</label>
    <input type="text" name="title"><br/>

    <label for="isbn" >Enter Book ISBN</label>
    <input type="text" name="isbn" placeholder="enter only numbers" required><br>

    <label for="rating" >Enter Rating</label>
    <input type="text" name="rating" placeholder="Rate outof 10"><br>

    <label for="review">Write Review</label>
    <textarea name="review" rows="10" cols="75"></textarea><br/>

    <input type="hidden" name="date" value="<%= new Date().toISOString().slice(0, 10) %>">
     
    <div>
    <button type="submit" class="btn">Add</button>
    <button type="submit" class="btn"><a href="/back">Back</a></button>
    </div>

</form>
</div>
  <!-- footer of website -->
  <div class="footer-new">
    <footer>&copy;All rights reserved.</footer>
</div>



</body>
</html>